.mt--4, .my--4 {
    margin-top: -1.9rem !important;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.col-form-label {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}