<div class="container mt-3 pb-6">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="bg-transparent text-center mt-2 pb-1">
            <img src="../assets/img/group.png">
            <div class="text-center text-primary mb-3">
              <small>Change Password</small>
            </div>
          </div>
          <div class="card-body px-lg-3 py-lg-3">
            <form [formGroup]="changepwdFrom" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary">
                      <i class="fas fa-unlock-alt font-weight-bold text-primary"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Old Password" formControlName="oldPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                  <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-unlock-alt font-weight-bold text-primary"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="New Password" formControlName="newPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                  <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-unlock-alt font-weight-bold text-primary"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  </div>
                </div>
              </div>
              <div class="text-right mt-3">
                <button class="btn icon icon-shape bg-primary text-white rounded-circle shadow">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <span class="text-danger mt-2 mb-2">
                {{errorMessage}}
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>