<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats bg-green">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-white mb-0">Completed</h5>
                            <span class="h2 font-weight-bold text-white mb-0">{{jsonComplete1.snqCompleted}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-white text-green rounded-circle shadow">
                                <i class="fas fa-check-double"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">INPROCESS</h5>
                            <span class="h2 font-weight-bold mb-0">{{jsonComplete1.snqInProcess}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="fas fa-spinner"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">ERROR</h5>
                            <span class="h2 font-weight-bold mb-0">{{jsonComplete1.snqError}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="fas fa-bug"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Total</h5>
                            <span class="h2 font-weight-bold mb-0">{{jsonComplete1.snqTotal}}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-default text-white rounded-circle shadow">
                                <i class="fas fa-calculator"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xl-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-sm input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-md text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control"
                                        placeholder="Customer Name/Ship Name/Ref Number/" [(ngModel)]="customername" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-sm input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt text-primary"></i>
                                        </span>
                                    </div>
                                    <input [(ngModel)]="FromDate" type="text" placeholder="From Date"
                                        class="form-control" [bsConfig]="{dateInputFormat: 'MM/DD/YYYY'}"
                                        bsDatepicker />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-sm input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt text-primary"></i>
                                        </span>
                                    </div>
                                    <input [(ngModel)]="ToDate" type="text" placeholder="To Date"
                                        class="form-control" [bsConfig]="{dateInputFormat: 'MM/DD/YYYY'}"
                                        bsDatepicker />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-0">
                                <div aria-label="Basic example" class="btn-group" role="group">
                                    <button class=" btn btn-sm btn-primary" [ngClass]="{ 'active' : isValue == 1 }" type="button"
                                        (click)="btnGroupFilter(1)">
                                        Today
                                    </button>
                                    <button class=" btn btn-sm btn-primary" [ngClass]="{ 'active' : isValue == 2 }" type="button"
                                        (click)="btnGroupFilter(2)">
                                        MTD
                                    </button>
                                    <button class=" btn btn-sm btn-primary" [ngClass]="{ 'active' : isValue == 3 }" type="button"
                                        (click)="btnGroupFilter(3)">
                                        QTD
                                    </button>
                                    <button class=" btn btn-sm btn-primary" [ngClass]="{ 'active' : isValue == 4 }" type="button"
                                        (click)="btnGroupFilter(4)">
                                        YTD
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mb-0">
                                <div aria-label="Basic example" class="btn-group" role="group">
                                    <button class=" btn btn-sm btn-success" [ngClass]="{ 'active' : isValueSecond == 1 }" type="button"
                                        (click)="btnGroupFilterSecond(1)">
                                        RPABOT
                                    </button>
                                    <button class=" btn btn-sm btn-success" [ngClass]="{ 'active' : isValueSecond == 2 }" type="button"
                                        (click)="btnGroupFilterSecond(2)">
                                        MESPAS
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                            <button class="btn btn-sm btn-icon btn-primary" (click)="btnSearch()">
                                <span class="btn-inner--icon">
                                    <i class="fas fa-search fa-lg"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xl-4 order-xl-2" *ngFor="let complete of jsonComplete">
            <a [routerLink]="['/home/snqdetails',{'pkid': complete.pK_SNQENQUIRY_HDR_ID}]">
                <div class="card card-stats shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title font-weight-bold  mb-0"> <i
                                        class="fas fa-user fa-lg text-primary mr-2"></i>
                                    {{complete.owner}}</h5>
                            </div>
                            <div class="col-auto text-muted mb-1">
                                <button type="button" class="btn btn-sm btn-twitter btn-icon-only rounded-circle">
                                    {{complete.totalNoOfItems}}
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="card-title text-muted mb-0 ml-2">{{complete.quotationNo}}</h6>
                            </div>
                            <div class="col-auto text-muted mb-1">
                                <h6 class="card-title text-muted mb-0">{{complete.enquiryDate}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6 class="card-title text-muted mb-0 ml-2">{{complete.enqrefNo}}</h6>
                            </div>
                            <div class="col">
                                <h6 class="card-title text-muted mb-0 ml-2">{{complete.shipName}}</h6>
                            </div>
                            <div class="col-auto mb-1">
                                <h5 class="card-title mb-0 text-green">{{complete.duration}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>